
nav{

  background-color:orange;
  width: 100%;
  position: fixed;
  /* margin-right: 2%; */
  z-index: 1030;
  height: 10px;
}

.nav-link{

  color: white;

}

.card{
height: 150px;
color: beige;
}

mat-menu{

  background-color: coral;
  color: aliceblue;
}

.rounded{
  width: 40px;
  height: 40px;
  border-radius:50%;
  margin: 5px;
}



.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2e3;
  color: rgb(255, 255, 255);
  /* font-weight: 600; */
  font-size: 17px;
  z-index: 1030;
}

.toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}
