<nav class="navbar navbar-default" >
  <div class="container-fluid">
  <li><a routerLink="/Admin">admin</a></li>
    <li><a class="nav-link "
      style="color: black; "
      routerLink="/Sports"
      *ngIf="isLogin">MENU</a></li>
     <ul class="nav ">
       <li><a  class="nav-link navbar-brand" style="color:black;" href="https://www.amnex.com/" >Amnex</a></li>
       <li><a class="nav-link "
        (click)="logOut()"
        style="color: black;  "
        *ngIf="userType === 'user'">Logout</a></li>

     </ul>

     <ul class="nav " >
      <li><div class="dropdown" style="margin-top:-3% ;">
        <Label style="margin-right: 5px;">Filter by Name : </Label>
        <select style="color: black;" (change)="onChangeSubPrefrence($event)" >
          <option [value]="0">View all</option>
          <option *ngFor="let item of subPrefDeatils" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div></li>
     </ul>
     <li><a class="nav-link "
      style="color: black; "
      routerLink="/user"
      *ngIf="isLogin">Home</a></li>
 </div>

</nav>



