.card {
  width: 130%;
  height: 700px;
  background-color: white;
}

form {
  padding: 2%;
  /* margin: 3%; */
}

button {
  margin: 1%;
}

label,
option {
  color: black;
}

mat-toolbar {
  background-color: whitesmoke;
}

.inputFile {
  width: 600px;
}

.imgshow {
  max-width: 100px;
  max-height: 100px;
}

.file_upload {
  padding-top: 2%;
  display: flex;
  width: 100%;
}

.inputFile {
  display: flex;
  width: 50%;
}

.imgshow {
  display: flex;
  margin-left: 10%;
  width: 70px;
  height: 70px;
}
