<div class="card">
  <form class="k-form" [formGroup]="blogForm" (ngSubmit)="onclick()">
    <i
      class="fa-solid fa-xmark close-btn"
      kendoButton
      type="button"
      mat-dialog-close
      (click)="clearForm()"
    >
    </i>
    <h1>Add Data</h1>

    <!-- -- heading -- -->
    <kendo-formfield>
      <kendo-label text="Heading"></kendo-label>

      <input
        type="text"
        formControlName="title"
        #title
        required
        [ngModel]="updateData.title"
      />

      <kendo-formerror *ngIf="blogForm.controls.title.errors?.['required']"
        >Heading is required</kendo-formerror
      >
    </kendo-formfield>

    <!-- -- description -- -->
    <kendo-formfield>
      <kendo-label text="Description"></kendo-label>
      <kendo-editor
        formControlName="description"
        [(ngModel)]="updateData.description"
        #description
        required
      >
      </kendo-editor>
      <kendo-formerror
        *ngIf="blogForm.controls.description.errors?.['required']"
        >Description is required</kendo-formerror
      >
    </kendo-formfield>

    <!-- -- Image -- -->
    <div class="file_upload">
      <label>Image :</label>
      <input
        class="form-control inputFile"
        formControlName="image"
        type="File"
        (change)="onchange($event)"
      />
      <img class="imgshow" [src]="img" alt="" />
    </div>

    <!-- -- sub category  -- -->
    <div class="dropdown">
      <Label>Category : </Label>
      <select
        [(ngModel)]="updateData.subPreferenceId"
        style="color: black"
        name="blog"
        id="blog"
        formControlName="subPreferenceId"
      >
        <option
          [(ngModel)]="updateData.prefId"
          value="{{ i.id }}"
          *ngFor="let i of topic"
        >
          {{ i.name }}
        </option>
      </select>
    </div>
    <br />

    <!-- -- submit -- -->
    <div class="k-form-buttons">
      <button
        class="submitBtn"
        kendoButton
        themeColor="primary"
        mat-dialog-close
        type="submit"
        (click)="sendCmsData()"
        [disabled]="blogForm.invalid"
        [ngClass]="{ submitBtn: buttonpress }"
      >
        Submit
      </button>

      <!-- -- update -- -->
      <button
        class="btn btn-primary updateBtn"
        mat-dialog-close
        themeColor="primary"
        type="submit"
        (click)="updateCmsData()"
        [disabled]="blogForm.invalid"
        [ngClass]="{ updateBtn: !buttonpress }"
      >
        Update
      </button>
    </div>
  </form>
</div>
