<!-- <app-header> </app-header> -->
<div class="card">
<h1></h1>
</div>

<div class="Heading-1" style="margin-bottom: 5%; background-color:beige;" >
  <h2> Sports </h2>
  <!-- <h1 style="color: black;">{{obj2.mydata}}</h1> -->
  <hr style="border-color:cadetblue;">
  <div class="container" style="padding-bottom: 3%;">
    <div *ngFor="let i of sport" >
      <div *ngIf="i.description == 'Sport img'">
        <div class="card_01 row" >
          <h2>{{i.title}}</h2>
          <img src="https://media.istockphoto.com/id/1185382671/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=3YwJa7lCw-cQ-hviINULUokL9lYU4RuGjMP_E_0N8E4=" class="rounded" alt="img">
          <p>{{i.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ******************************************************** -->

<!-- <div class="card">
  <h1></h1>
  </div> -->

  <div class="Heading-1" style="margin-bottom: 5%; background-color:beige;" >
    <h2> Politics </h2>
    <hr style="border-color:cadetblue;">
    <div class="container" style="padding-bottom: 3%;">
      <div *ngFor="let i of sport" >
        <div *ngIf="i.description == 'Politics img'">
           <div class="card_01 row" >
            <h2>{{i.title}}</h2>
            <img src="https://media.istockphoto.com/id/1185382671/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=3YwJa7lCw-cQ-hviINULUokL9lYU4RuGjMP_E_0N8E4=" class="rounded" alt="img">
            <p>{{i.description}}</p>
           </div>
        </div>
      </div>
    </div>
  </div>


  <!-- *************************************************************************** -->

  <!-- <div class="card">
<h1></h1>
</div> -->

<div class="Heading-1" style="margin-bottom: 5%; background-color:beige;" >
  <h2> Technology </h2>
  <hr style="border-color:cadetblue;">
  <div class="container" style="padding-bottom: 3%;">
    <div *ngFor="let i of sport" >
      <div *ngIf="i.description == 'Technology img'">
          <div class="card_01 row" >
              <h2>{{i.title}}</h2>
              <img src="https://media.istockphoto.com/id/1185382671/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=3YwJa7lCw-cQ-hviINULUokL9lYU4RuGjMP_E_0N8E4=" class="rounded" alt="img">
              <p>{{i.description}}</p>
          </div>
       </div>
    </div>
  </div>
</div>









<!-- <h2>Heading </h2>
<hr style="border-color:cadetblue;">
<div>





</div> -->


<!-- <mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    Hello
  </mat-drawer>
  <mat-drawer-content>
    hiii
  </mat-drawer-content>

  </mat-drawer-container> -->






