
.card{
  height: 300px;
  width: 70%;
  background-color: bisque;
  padding-left: 20%;
  margin-left: 15%;
  margin-bottom: 10%;
  }

  .row{

height: 300px;
width: 30%;
background-color:burlywood;
border-radius: 10px;
text-align: center;

  }

 .row{

    list-style-type: none;
    float: left;
    margin-inline: 10px;
  }

  .rounded{

    width: 150px;
    height: 150px;
  }
