.d-lg-block{

  list-style: circle;
}
.text-center{
display: bottom;
}
.me-4{
  margin-left: 1%;
  margin-bottom: 1%;
}
img{
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 20%;
}

footer{
  position: inherit;
  bottom: 0;
  /* margin-top: 3%; */
  padding: 1%;
  background-color: #00308b;
  height: 270px;
  color: white;
  font-size: larger;

  /* margin-right: auto; */
}
