<mat-toolbar>
  <mat-toolbar-row>
    <button
      class="btn btn-submit"
      (click)="opened = !opened"
      style="color: black; background-color: cornsilk"
      *ngIf="isLogin"
    >
      Menu
    </button>
    <button
      class="btn btn-submit"
      (click)="logOut()"
      style="color: black; background-color: cornsilk; margin-left: 20px"
      *ngIf="userType === 'user'"
    >
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item
        ><button class="btn btn-submit" style="width: 90%" routerLink="/">
          Home
        </button></mat-list-item
      >
      <!-- <br>
      <h2> User Page</h2>
      <hr>
      <mat-list-item><button class="btn btn-submit" style="width: 90%;" routerLink="#">Header</button></mat-list-item>
      <mat-list-item><button class="btn btn-submit" style="width: 90%;" routerLink="#">Body</button></mat-list-item>
      <mat-list-item><button class="btn btn-submit" style="width: 90%;" routerLink="#">Footer</button></mat-list-item>
      <br> -->
      <h2>Blogs</h2>
      <hr />

      <div *ngFor="let i of PreList">
        <mat-list-item>
          <a
            mat-button
            style="width: 90%"
            routerLink="/{{ i.preferenceName }}"
            (click)="preferenceChange(i.preferenceId)"
            >{{ i.preferenceName }}</a
          >
        </mat-list-item>
        <!-- <mat-list-item> <button class="btn btn-submit"  mat-button style="width: 90%;" routerLink="/Sports">Sports</button> </mat-list-item>
        <mat-list-item><button class="btn btn-submit" mat-button  style="width: 90%;" routerLink="/Politics">Politics</button></mat-list-item>
        <mat-list-item> <button class="btn btn-submit" mat-button  style="width: 90%;" routerLink="/Technologys">Technology</button></mat-list-item> -->
      </div>

      <br />
      <h2>Footer</h2>
      <hr />
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-list-item><button class="btn btn-submit"  mat-button [matMenuTriggerFor]="sport" style="width: 90%;" routerLink="/Sports">Sports</button></mat-list-item>
<mat-menu #sport="matMenu" >
  <button mat-menu-item  routerLink="/Cricket">Cricket</button>
  <button mat-menu-item  routerLink="/Football">Football</button>
  <button mat-menu-item  routerLink="/Hockey">Hockey</button>
  </mat-menu>
<mat-list-item><button class="btn btn-submit" mat-button [matMenuTriggerFor]="politics" style="width: 90%;" routerLink="/Politics">Politics</button></mat-list-item>
<mat-menu #politics="matMenu" >
  <button mat-menu-item  routerLink="/Gujarat">Gujarat</button>
  <button mat-menu-item  routerLink="/India">India</button>
  <button mat-menu-item  routerLink="/World">World</button>
  </mat-menu>

<mat-list-item><button class="btn btn-submit" mat-button [matMenuTriggerFor]="technology" style="width: 90%;" routerLink="/Technologys">Technology</button></mat-list-item>
<mat-menu #technology="matMenu" >
  <button mat-menu-item  routerLink="/Mobile">Mobile</button>
  <button mat-menu-item  routerLink="/Laptop">Laptop</button>
  <button mat-menu-item  routerLink="/Innovative">Innovative</button>
  </mat-menu> -->
