<app-Blog></app-Blog>
<!-- <table class="table">
  <thead style="color: black;">
    <th>Id</th>
    <th>Thumb nail</th>
    <th>Title</th>
    <th>description</th>
    <th>SubId</th>
  <th>subPreferenceId</th>


  <tbody>

    <tr *ngFor="let i of technologysList" > -->

      <!-- <td>{{i.id}}</td>
      <td><img src={{i.image}} alt="image"></td>
      <td>{{i.heading}}</td>
      <td>{{i.detail}}</td> -->

      <!-- <td>{{i.id}}</td>
      <td><img src="{{i.image}}" alt=""></td>
      <td>{{i.title}}</td>
      <td>{{i.description}}</td>
      <td>{{i.prefId}}</td>
      <td>{{i.subPreferenceId}}</td>


      <td><button class= " btn btn-danger" style="margin:5px" (click)="deleteData(i.prefId,i.id)" > Delete  </button></td>
      <td><button #update class= " btn btn-warning"  style="margin:5px" (click)="openDialog(i)">Upadate</button></td>
    </tr>

  </tbody><br> -->
<!-- <button class= " btn btn-primary"  (click)=" getalldata()">Display All </button> -->



<!-- </table> -->
<h1 style="color: black;">Technology</h1>

<kendo-grid [data]="technologysList"
      [kendoGridBinding]="technologysList"
      [sortable]="true"
      [groupable]="true"
      (remove)="removeHandler($event)"
      (edit)="editHandler($event)"
      style="color: black;"


      >
        <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
        <kendo-grid-column title="image"><img src="image" alt="">
          <ng-template kendoGridCellTemplate let-dataItem>
            <img [src]="dataItem.image" alt="">
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="title" title="title"> </kendo-grid-column>
        <kendo-grid-column field="description" title="description"> </kendo-grid-column>
        <kendo-grid-column field="prefId" title="prefId"> </kendo-grid-column>
        <kendo-grid-column field="subPreferenceId" title="subPreferenceId"> </kendo-grid-column>

        <kendo-grid-column field="delete"  title="delete">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridRemoveCommand fillMode="outline" [themeColor]="'error'">Remove</button>
            <!-- <button class= " btn btn-danger" style="margin:5px" (click)="deleteData(1,1)"> Delete </button> -->
          </ng-template>
          </kendo-grid-column>

        <kendo-grid-column field="Update"  title="Update">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand fillMode="outline" [themeColor]="'info'">Edit</button>
            <!-- <button #update class= " btn btn-warning"  style="margin:5px" (click)="openDialog(1)">Upadate</button> -->
          </ng-template>
          </kendo-grid-column>

  </kendo-grid>

