<!-- <app-user-header (senddata)="headerdata($event)"></app-user-header> -->
<app-admin (senddata)="headerdata($event)"></app-admin>
<!-- <app-user-crousel></app-user-crousel> -->
<!-- <app-user-crousel></app-user-crousel> -->

<!-- <body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

<div class="main">
  <div *ngFor="let i of getdetails;  let item = index; let o = odd; let e = even" [ngClass]="{container:e,container1:o}" >

      <div class="container">
        <hr style="border-color: rgb(148, 212, 215)" />
          <div>
            <img class="image" [src]="i.image"/>

        </div>
          <div class="text">
            <p class="header">
              {{ i.title }}
            </p>
            <p class="description">
              {{ i.description }}
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt deserunt
              porro esse voluptatem repellat maxime officia adipisci deleniti, illum
              est corrupti alias, sequi dicta consequuntur? Temporibus quo ipsa
              deserunt quas!
            </p>

         </div>
      </div>

    </div>

  </div>


</body> -->
<h1 class="nulltime" *ngIf="isNull">No result found</h1>

<div
  id="home"
  class="first_page"
  *ngIf="!isNull"
  style="padding-left: 10%; margin-top: 3%"
  [ngClass]="{ 'display-toggle': !sidenavtoggle }"
>
  <div>
    <div class="feedbackform">
      <i
        class="fa-solid fa-comment"
        style="margin-right: 5px; margin-top: 2px; color: black"
      ></i>
      <i class="fa-solid fa-message-lines">
        <p (click)="openDialog()">FeedBack</p></i
      >
    </div>
    <div class="wrapper" *ngFor="let i of getdetails" style="margin-bottom: 2%">
      <div class="content-splitter" *ngIf="i.approved == true">
        <div class="nav"></div>
        <div class="left">
          <div class="block">
            <div class="header">{{ i.title }}</div>

            <div class="content">
              <p [innerHTML]="i.description">{{ i.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right" *ngIf="i.approved == true">
        <img [src]="i.image" alt="" />
      </div>
    </div>
  </div>
</div>
