<!-- <app-header> </app-header> -->
<div class="container mt-5 ">

  <h1> Registration Form </h1><br><br>

        <form [formGroup] = "reactiveform" (ngSubmit)="loginUser()">

          <label>Fullname</label>

          <input type="text" class = "form-control" name="fullName" formControlName="fullName">
          <div class="alert alert-danger" *ngIf="fullname && fullname.invalid && fullname.touched"> Minimum 5 character required </div><br>


         <label>Email ID</label>
         <input type="Email" class="form-control" name="Email" formControlName="email" >
         <div class="alert alert-danger" *ngIf="email && email.invalid && email.touched ">Enter valid Email </div><br>


        <label > password </label>
        <input type="password" name="password" class = "form-control" formControlName = "password">

          <div class="alert alert-danger" *ngIf="password && password.invalid && password.touched "> MinLength Should be 8 </div><br>
          <!-- <div class="alert alert-danger" *ngIf="password && password.invalid && password.touched "> MinLength Should be 5</div><br><br> -->


        <button class="btn btn-success" [disabled]="reactiveform.invalid" >Submit</button>


         </form>

      </div>





