<div class="card">
  <form  class="k-form" [formGroup]="blogForm" (ngSubmit)="onclick()">
    <i
      class="fa-solid fa-xmark close-btn"
      kendoButton
      type="button"
      mat-dialog-close
    >
    </i>
    <h1>FeedBack Form</h1>
    <kendo-formfield>
      <kendo-label text="Name"></kendo-label>
      <kendo-textbox
        formControlName="name"
        [clearButton]="true"
        #title
        required
      ></kendo-textbox>

      <kendo-formerror *ngIf="blogForm.controls.name.errors?.['required']"
        >Error: Name is required.</kendo-formerror
      >
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="Email-id"></kendo-label>
      <kendo-textbox
        formControlName="email"
        [clearButton]="true"
        #title
        required
      ></kendo-textbox>

      <kendo-formerror>
        <div *ngIf="blogForm.controls.email.errors?.['required']">
          Error: Email is required.
        </div>
        <div *ngIf="blogForm.controls.email.errors?.['email']" >
          Error: Please enter proper Email Address.
        </div>
      </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="Phone Number"></kendo-label>
      <kendo-numerictextbox
        type=" number"
        formControlName="phoneno"
        data-role="numerictextbox"
        format="\#"

        #title
        required
      ></kendo-numerictextbox>

      <!-- <input type="number"> -->

      <!-- <kendo-textbox
      formControlName="phoneno"
      type="number"
      [clearButton]="true"
      #title
      required
    ></kendo-textbox> -->


      <kendo-formerror>
       <div *ngIf="blogForm.controls.phoneno.errors?.['required']">
        Error: Phone number is required.</div>
        <div *ngIf="blogForm.controls.phoneno.errors?.['pattern']">
          Error: Please enter proper Phone Number.
        </div>
        </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="FeedBack"></kendo-label>
      <kendo-editor
        formControlName="feedback"
        #description
        required
      >
      </kendo-editor>
      <kendo-formerror
        *ngIf="blogForm.controls.feedback.errors?.['required']"
        >Error: Description is required</kendo-formerror
      >
    </kendo-formfield>
    <br />

    <div class="k-form-buttons">
      <button
      class="submitBtn"
      kendoButton
      themeColor="primary"
      (click)="submit()"
      mat-dialog-close
      type="submit"
      [disabled]="blogForm.invalid"
      >
       Submit
  </button>
    </div>
  </form>
</div>
