
<mat-toolbar>
  <mat-toolbar-row>

    <button class="btn btn-submit" (click)="opened =!opened" style="color: black;background-color: cornsilk;">Menu</button>
  </mat-toolbar-row>

</mat-toolbar>


<!-- <mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>

      <h2> Blogs</h2>
      <hr>
      <div *ngFor=" let i of PreList">
        <mat-list-item> <a mat-button style="width: 90%;" routerLink="/{{i.preferenceName}}" (click)="preferenceChange(i.preferenceId)">{{i.preferenceName}}</a> </mat-list-item>

      </div>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->



