.mat-sidenav-container{

height: calc(205vh - 115vh);

}

mat-sidenav{

width: 200px;
background-color:whitesmoke;

}

mat-sidenav-content{

background-color:white;

}

mat-toolbar{

  background-color: orange;
}

button{

background-color: orange;
color: black;

}

h2{

  color: black;
}

hr{

  border-color: brown;
  /* color: black;
  background-color: black; */
}

mat-menu{

  background-color: coral;
  color: aliceblue;
}

a{

  text-decoration: none;
  color:darkslategrey

}

a:hover{

  color:black

}

a:active{

  color: rgb(162, 129, 129);

}
