<body>
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>REGISTER</h3>
        </div>
      </div>
      <form class="login-form" [formGroup]="form">
        <input type="text" formControlName="username" placeholder="Username" />
        <input type="email" formControlName="email" placeholder="email" />
        <input
          type="text"
          formControlName="firstname"
          placeholder="Firstname"
        />
        <!-- <input type="text" formControlName="lastname" placeholder="Lastname" /> -->
        <select
          aria-label="Default select example"
          (change)="($event)"
          formControlName="prefrence"
        >
          <option selected>Select Prefrence</option>
          <option
            style="font-weight: 400"
            *ngFor="let item of preferences"
            [value]="item.id"
          >
            {{ item.name }}
          </option>
        </select>
        <input type="text" formControlName="password" placeholder="password" />
        <div class="alert alert-danger mb-3" *ngIf="isError">
          {{ errorText }}
        </div>

        <div class="alert alert-danger" *ngIf="!isValid">
          Please enter valid data.
        </div>
        <button (click)="onSubmit()">SAVE</button>
        <p class="message">
          Already registered? <a routerLink="/auth/login">Go to Login</a>
        </p>
      </form>
    </div>
  </div>
</body>
