<app-Blog></app-Blog>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Delete</th>
    <th>Update</th>
  </thead>
  <tbody style="color: black;">

    <tr *ngFor="let i of footballList" >

      <!-- <td>{{i.id}}</td>
      <td><img src={{i.image}} alt="image"></td>
      <td>{{i.heading}}</td>
      <td>{{i.detail}}</td> -->

      <!-- <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.description}}</td>
      <td>{{i.image}}</td> -->

      <!-- <td><button class= " btn btn-danger" style="margin:5px" (click)="deleteData(i.id)"> Delete  </button></td> -->
      <td><button #update class= " btn btn-warning"  style="margin:5px">Upadate</button></td>
    </tr>

  </tbody><br>

</table>






