<!-- <div class="main">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
    exercitationem error corrupti explicabo quod esse asperiores iusto
    voluptatibus vero? Magnam doloribus quo corporis optio dicta dolorem
    molestiae perspiciatis veniam magni?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Unde tenetur amet nobis fugiat consectetur tempore sed,
    aliquam rem accusantium cupiditate illum laborum incidunt ipsam assumenda
    labore dolorum voluptates dolores ducimus.
  </p>
</div> -->

<!--
<div class="main" *ngFor="let item of data" >
  <h3>{{ item.date }}</h3>
  <h4>{{ item.temperatureF }}</h4>
  <h5>{{ item.temperatureC }}</h5>
  <h6>{{ item.summary }}</h6>
</div> -->


<app-user-body></app-user-body>
<app-footer></app-footer>
