/* ************** Admin header side nav  ******************** */

.app-header {
  position: fixed;
  width: 100%;
  top: 0%;
  height: 4rem;
  z-index: 2;
}

main {
  position: absolute;
  width: 100%;
  top: 6rem;
  z-index: 1;
}

.side-nav {
  position: fixed;
  left: 0rem;
  width: 3.5%;

  height: calc(100vh - 4rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #00308b;
}

.side-nav-open {
  width: 13%;
}

.display-area {
  position: absolute;
  left: 15%;
  width: auto;
  height: auto;
}

.display-toggle {
  left: 4%;
}

/* ******************  header ****************** */

nav {
  height: 100%;
}

.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

/* .side-nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30%;
} */

/* ************** side navbar ****************** */

.side-nav-content {
  width: 230px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.border-white {
  border: 1px solid white;
}

.nav-list {
  list-style: none;
  height: 100%;
  padding: 0%;
  margin-bottom: 0%;
  margin-left: 5%;
}

.nav-list-item {
  display: flex;
  align-items: center;
  height: 55px;
}

/* .side-nav-open .nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
} */

.nav-list-item i {
  font-size: 20px;
  height: 25px;
  width: 25px;
  margin-right: 40%;
  /* margin-left: 10px; */
  text-align: center;
  line-height: 25px;
}

.nav-list-item span {
  width: 170px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  /* color: white; */
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2e6;
  font-size: larger;
  /* color: rgb(255, 255, 255); */
  /* font-weight: 600; */
  font-size: 17px;
  z-index: 1030;
  color: white;
}

.toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.icon {
  /*
left: 10px; */
  margin-left: 1.5%;
  color: white;
  /* margin-right: 3%; */
}

.sidenavdata {
  border-radius: 10px;
  height: 50px;
  width: 135%;
  /* background-color: lightblue; */
  color: white;
  padding-right: 80%;
  display: flex;
  padding-top: 10%;
  font-size: larger;
  margin-block: 10%;
}

.i {
  border-radius: 10px;
  height: 50px;
  width: 135%;
  /* background-color: lightblue; */
  color: white;
  padding-right: 80%;
  display: flex;
  padding-top: 10%;
  font-size: larger;
  margin-block: 10%;
}

.icon2 {
  color: white;
  margin-left: 5%;
  font-size: larger;
  margin-top: 20px;
  margin-right: 10%;
}
