<nav class="navbar navbar-default">
  <div class="container-fluid" style="margin-left: -15%">
    <ul class="nav" style="margin-right: 10%">
      <li>
        <a
          class="nav-link navbar-brand"
          style="color: black"
          href="https://www.amnex.com/"
          >Amnex</a
        >
      </li>

      <li>
        <button
          class="nav-link navbar-dark"
          (click)="logOut()"
          style="color: black; margin-top: 5%"
          *ngIf="userType === 'user'"
        >
          Logout
        </button>
      </li>
      <li>
        <button
          class="nav-link"
          style="color: black; margin-top: 5%; margin-left: 20%"
          routerLink="/admin"
          *ngIf="isLogin"
        >
          MENU
        </button>
      </li>
    </ul>

    <ul class="nav" style="margin-left: 10%">
      <li>
        <div class="dropdown" style="margin-top: 2%">
          <Label style="margin-right: 5px">Filter by Name : </Label>
          <select style="color: black" (change)="onChangeSubPrefrence($event)">
            <option [value]="0">View all</option>
            <option *ngFor="let item of subPrefDeatils" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </li>
      <li>
        <a
          class="nav-link"
          style="color: black; font-size: large; margin-bottom: 10%"
          routerLink="/user"
          *ngIf="isLogin"
          >Home</a
        >
      </li>
    </ul>
  </div>
</nav>
