
nav{

  background-color:orange;
  width: 100%;
  position: fixed;
  /* margin-right: 2%; */
  z-index: 1030;
  height: 10px;
}

.nav-link{

  color: white;

}

.card{
height: 150px;
color: beige;
}

mat-menu{

  background-color: coral;
  color: aliceblue;
}

.rounded{
  width: 40px;
  height: 40px;
  border-radius:50%;
  margin: 5px;
}
