
<mat-toolbar>
  <mat-toolbar-row>
    <h1 textContent="Feedback" >FeedBack</h1>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<kendo-grid
  [data]="feedbackList"
  [kendoGridBinding]="feedbackList"
  [sortable]="true"
  [groupable]="true"
  style="color: black"
>
  <kendo-grid-column field="name" title="Name"> </kendo-grid-column>

  <kendo-grid-column field="email" title="Email-id"> </kendo-grid-column>
  <kendo-grid-column field="phoneno" title="Phone Number"></kendo-grid-column>
  <kendo-grid-column field="feedback" title="FeedBack">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      <p [innerHTML]="dataItem.feedback">{{ dataItem.feedback }}</p>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
